:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    align-items: center;
}



@media (max-width:480px) {

    .content-container {
        align-items: flex-start;
    }

    .logo-container {
        display: none;
    }
}