.main-btn {
    border: none;
    background-image: linear-gradient(45deg, #fa0c4f, #ac25fb);
    color: #fff;
    font-size: 1.3rem;
    border-radius: 8px;
    min-width: 200px;
    padding: 1rem 2rem;
    transition: all 0.225s ease-in-out;
}

.main-btn:hover {
    box-shadow: 0 5px 10px grey;
}


@media (max-width:678px) {
    .main-btn {
        min-width: 120px;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }
}

@media (max-width:480px) {
    .main-btn {
        font-size: 1rem;
        padding: 0.225 0.5;
        min-width: 100px;
    }
}