/* You can add global styles to this file, and also import other style files */



.content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /*   background-color: blue; */
    width: 100%;
    max-width: 1450px;
    padding: 0 3rem;
    margin-top: 5rem;
}


@media (max-width:1024px) {
    .teaser {
        font-size: 2rem;
    }

    .content-container {
        padding: 0 1rem;
    }
}

@media (max-width:678px) {
    .content-container {
        margin-top: 2rem;
    }
}