:host {
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-field {
    width: 100%;
    font-size: 1.3rem;
    padding: 0.75rem;
    margin-right: 1rem;
}

@media (max-width:678px) {
    .input-container {
        flex-direction: column;
    }

    .input-field {
        margin-right: 0;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .content-container {
        margin-top: 2rem;
    }
}